root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.js]
charset = utf-8
# Never save JavaScript files with UTF-8 BOM

[*.html]
indent_size = 2

[*.css]
indent_size = 4

[*.py]
charset = utf-8
indent_size = 4
