# Database connection string (PostgreSQL)
# Format:
# postgresql://USER:PASSWORD@HOST:PORT/DB_NAME
DATABASE_URL=postgresql://postgres:1234@localhost:5432/fires

# Web app host and port
APP_HOST=127.0.0.1
APP_PORT=8000
